LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0
PidFile=/var/run/zabbix/zabbix_server.pid
DBName={{MYSQLDB}}
DBUser={{MYSQLUSER}}
DBPassword={{MYSQLPASS}}
StartPollers=5
StartPollersUnreachable=1
StartTrappers=1
StartPingers=1
StartDiscoverers=1
StartHTTPPollers=1
JavaGateway=127.0.0.1
JavaGatewayPort=10052
StartJavaPollers=6
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log
CacheSize=512M
HistoryCacheSize=512M
HistoryIndexCacheSize=512M
TrendCacheSize=512M
StartDBSyncers=1
Timeout=5
UnreachablePeriod=70
AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
